@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Open+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700&family=PT+Mono&family=Play:wght@400;700&family=Press+Start+2P&display=swap");
@import url("https://fonts.cdnfonts.com/css/press-start");
@import url("https://fonts.cdnfonts.com/css/days-one");
@font-face {
  font-family: "Stardock";
  src: url("./fonts/Stardock.otf");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);

  background-color: hsla(6, 0%, 100%, 1);
  background-image: radial-gradient(
      at 5% 20%,
      rgba(189, 205, 255, 0.273) 0px,
      transparent 20%
    ),
    radial-gradient(at 95% 20%, rgba(254, 231, 176, 0.214) 0px, transparent 15%),
    radial-gradient(at 5% 45%, rgba(255, 189, 236, 0.273) 0px, transparent 15%),
    radial-gradient(at 95% 65%, rgba(189, 205, 255, 0.273) 0px, transparent 15%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  background-color: hsl(var(--background));
  margin: 0 auto;
  padding: 70px 80px 20px 80px;
  display: flex;
  width: 100%;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 20px;
  height: 2px;
  background-color: rgb(52, 52, 52);
  margin: 2px 0;
  transition: 0.4s;
}

.nav-links {
  display: flex;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 0;
  }

  .nav-links.open {
    display: flex;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background: rgb(236, 236, 236);
    border-radius: 12px;
    z-index: 100;
  }
  .brand {
    color: #0c0c0c;
    margin: 3px 30px 0 0px;
  }
  .nav-links a {
    margin: 10px;
  }

  .bar.open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .bar.open:nth-child(2) {
    opacity: 0;
  }

  .bar.open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
/*navbar*/
.navbar {
  font-family: "PT Mono", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  gap: 35px;
  top: 0;
  width: 100%;
}
.container {
  top: 30px;
  padding: 0 20px 0 20px;
  position: fixed;
  height: fit-content;
  min-height: 50px;
  width: fit-content;
  display: flex;
  flex-direction: row;

  align-items: center;
  border-radius: 14px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(15px);
  background: rgba(169, 169, 169, 0.2);
  z-index: 100;
}
.brand {
  font-family: "Stardock";
  color: #0c0c0c;

  height: 25px;
  margin: 3px 30px 0 30px;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.brand:hover {
  transform: scale(1.1);
}
.top {
  top: 30px;
  padding: 0 0 0 170px;
  position: fixed;
  height: fit-content;
  justify-content: space-between;
  min-height: 50px;
  display: flex;

  flex-direction: row;
  z-index: 100;
}
.nav-links {
  font-family: "Play";
  font-size: 15px;
}
.nav-links a {
  margin: 0 30px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

nav .active {
  color: #000000;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a:focus {
  color: #000000;
}

/*home*/
.boxhome {
  /* background-image: url("./image/home.png");
  background-repeat: no-repeat;
  background-size: cover; */

  height: 100%;
  padding: 20px 60px 80px 60px;
  width: 100%;
}
.box {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background-color: #e8e8e8;

  padding: 250px;
  width: 100%;
  clip-path: inset(20px 50px 20px 50px round 40px);
}
.lilbox1,
.lilbox2 {
  box-shadow: 0 4px 6px -1px rgba(0, 60, 255, 0.153),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 2px solid #edf2f7;
  border-radius: 22px;
  width: 50%;
  color: #4a5568;
  background-color: white;
  padding: 40px 30px 40px 30px;
  margin: 0 10px 0 10px;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.lilbox3 {
  box-shadow: 0 4px 6px -1px rgba(0, 60, 255, 0.153),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 2px solid #edf2f7;
  border-radius: 22px;
  color: #4a5568;
  width: 100%;
  background-color: white;
  padding: 40px;
  margin: 0 10px 0 10px;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.part {
  width: 100%;
}
/*О кафедре*/
.okafedre {
  padding: 0 120px 30px 120px;
}
.year {
  background: linear-gradient(
    to right,
    #7953cd 20%,
    #00affa 30%,
    #0190cd 70%,
    #764ada 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.kaf1 {
  display: flex;
  gap: 15px;
}
.kaf2 {
  display: grid;
  grid-template-columns: 4fr auto;
  justify-items: center;
  gap: 15px;
  margin-top: 15px;
}
.kafleft {
  display: block;
}
.kafleft1 {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
.kafleft2 {
  display: grid;
  grid-template-columns: auto 3fr;
  gap: 15px;
}
.kafright {
  display: flex;
}

.lilbox8 {
  justify-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 2px solid #edf2f7;
  border-radius: 22px;
  background-color: white;
  padding: 70px 30px 0 30px;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.lilbox9 {
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 2px solid #edf2f7;
  border-radius: 22px;
  background-color: white;
  padding: 40px;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.lilbox10 {
  display: grid;
  grid-template-columns: 60px 1fr;
  text-align: center;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 2px solid #edf2f7;
  border-radius: 22px;
  background-color: white;
  padding: 0 30px 0 30px;
  align-items: center;
  justify-content: center;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

/*Напраления*/
.napravlenia {
  padding: 30px 0 30px 0;
}

.napravlenias {
  padding: 0 50px 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 15px;
}

.titlenapravlenie1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./image/napravlenie1.jpg);
  text-align: center;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 18px;
  background-color: white;
  padding: 25px;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.titlenapravlenie2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./image/napravlenie2.jpg);
  text-align: center;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 18px;
  background-color: white;
  padding: 25px;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.titlenapravlenie3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./image/napravlenie3.jpg);
  text-align: center;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 18px;
  background-color: white;
  padding: 25px;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.napravlenieinfo {
  padding: 20px 20px 40px 27px;
  color: #4a5568;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.forma {
  display: flex;
  padding-top: 25px;
}
.numbox {
  display: grid;
  width: 100px;
  place-items: center;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 8px;
  background-color: white;
}
.lilbox17 {
  width: 100%;
  height: 400px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 2px solid #edf2f7;
  border-radius: 22px;
  background-color: white;
  padding: 10px;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.background-tint {
  background-color: rgba(0, 0, 0, 0.219);
  background-blend-mode: multiply;
}

/*научная деятельность*/
.lilbox4 {
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 2px solid #edf2f7;
  border-radius: 22px;
  color: #4a5568;
  background-color: rgb(255, 255, 255);
  padding: 30px 40px 30px 40px;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.lilbox20 {
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 2px solid #edf2f7;
  border-radius: 22px;
  color: #4a5568;
  background-color: rgb(255, 255, 255);
  padding: 30px 40px 30px 40px;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.lilbox18 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 2px solid #edf2f7;
  border-radius: 22px;
  color: #4a5568;
  background-color: rgb(255, 255, 255);
  padding: 30px 40px 30px 40px;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.lilbox5 {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 2px solid #edf2f7;
  border-radius: 22px;
  color: #4a5568;
  background-color: white;
  padding: 40px;
  transition-duration: 200ms;
  margin-bottom: 15px;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.lilbox6 {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 2px solid #edf2f7;
  border-radius: 22px;
  background-color: white;
  color: #4a5568;
  padding: 30px 40px;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 15px;
}
.infatitle {
  display: grid;
  grid-template-columns: 5fr 20px;
}
.span {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 8px;
}

.right {
  height: 100%;
  justify-items: center;
  gap: 15px;
}

.nauchnayadeyatelnost {
  padding: 30px 150px 30px 150px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  gap: 15px;
  padding-bottom: 100px;
}
.titleinf {
  align-items: center;
  display: grid;
  grid-template-columns: 200px 1fr;
}

/*достижения и перспективы*/
.lilbox7 {
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 2px solid #edf2f7;
  border-radius: 22px;
  color: #4a5568;
  background-color: white;
  padding: 30px 40px 30px 40px;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.dostizhenia {
  padding: 30px 150px 30px 150px;
  justify-items: center;
  gap: 15px;
  padding-bottom: 50px;
}
.up {
  display: flex;
  justify-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.bottom {
  display: flex;
  justify-items: center;
  gap: 15px;
}
/*schedule*/
.schedulebox {
  background-color: white;

  color: #4a5568;
  height: 100%;
  padding: 40px 200px 40px 200px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  justify-items: center;

  width: 100%;
  clip-path: inset(20px 50px 20px 50px round 40px);
}
.scheduleright {
  display: flex;
}
.schedulecol {
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.scheduleboxbox {
  margin-top: 30px;
  border: 2px solid #edf2f7;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  justify-items: center;
  gap: 0;
  margin-bottom: 20px;
}
.grouptitle {
  color: #000000;
  font-family: "Days One";
  font-size: 18px;
  padding: 10px 0 10px 0;
}
.selector {
  color: #4a5568;
  width: 120px;
  font-family: "Play";
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 2px solid #edf2f7;
  position: relative;
  outline: none;
  cursor: pointer;

  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5px;
}
.selector2 {
  color: #4a5568;
  width: 100%;
  font-family: "Play";
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 2px solid #edf2f7;

  outline: none;
  margin: 10px 0 10px 0;

  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5px;
}
.selector3 {
  color: #000000;
  width: 150px;
  font-family: "Play";
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  border: none;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 8px;
}
.mail {
  padding-bottom: 5px;
}
.phone {
  padding-top: 5px;
}
.selectorgroup {
  display: grid;
  grid-template-columns: 2fr;
}
/*staff*/

.staffcontainer {
  font-family: "Days One", sans-serif;
  padding: 10px 130px 100px 130px;

  gap: 15px;
}
.stafflilbox {
  cursor: grab;
  height: 100%;
  width: 280px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 2px solid #edf2f7;
  border-radius: 20px;
  background-color: white;
  padding: 20px;

  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.hstaff {
  padding: 10px 0 10px 0;
}

.stafimg {
  border-radius: 15px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.stafftext {
  padding: 10px 0 10px 10px;
}
.staffinf {
  padding: 3px 10px 3px 10px;
  width: max-content;
  border-radius: 6px;
  color: #4a5568;
  border: 1px solid #e8eef6;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background: #f7fafc;
}
.infboxstaff {
  padding: 0 10px 0 10px;
}
/*footer*/
.footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  gap: 15px;
}
.footerleft {
  gap: 15px;
  height: 80%;
}
.footerright {
  width: 100%;
}
.footerright2 {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}
.lilbox11 {
  color: white;
  font-family: "Days One", sans-serif;
  width: 100%;
  height: 165px;
  box-shadow: 0 4px 6px -1px rgba(65, 65, 65, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  border-radius: 22px;
  background-color: rgb(61, 61, 61);
  padding: 30px 60px 30px 60px;
  margin-bottom: 15px;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.lilbox12 {
  color: white;
  font-family: "Days One", sans-serif;
  width: 100%;
  height: 200px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  border-radius: 22px;
  background-color: rgb(52, 52, 52);
  padding: 30px 60px 30px 60px;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.lilbox13 {
  color: white;
  font-family: "Days One", sans-serif;
  width: 100%;
  height: 260px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  border-radius: 22px;
  background-color: rgb(61, 61, 61);
  padding: 30px 60px 30px 60px;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.lilbox14 {
  height: 105px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  border-radius: 22px;
  background-color: rgb(61, 61, 61);
  padding: 30px;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.lilbox15 {
  text-align: center;
  height: 105px;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  border-radius: 22px;
  background-color: rgb(61, 61, 61);
  padding: 30px;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.lilbox16 {
  text-align: center;
  width: 100%;
  height: 105px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  border-radius: 22px;
  background-color: rgb(61, 61, 61);
  padding: 30px;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.boxfooter {
  background: #1d375400;

  height: 100%;
  padding: 40px 60px 30px 60px;
  width: 100%;
  clip-path: inset(20px 50px 20px 50px round 40px);
}
.footerbox {
  background: #8d8d8d00;
  box-shadow: 0 4px 6px -1px rgba(0, 60, 255, 0.153),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-top: 60px;
  border-radius: 30px;
}
.footertext {
  color: rgb(0, 0, 0);
}
.ssilki {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 15px;
}
.kontaktititle {
  padding-bottom: 10px;
}
.kontakti {
  color: rgba(255, 255, 255, 0.623);
}
.ssilka {
  color: rgba(255, 255, 255, 0.623);
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.ssilka:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}
a {
  color: #4a5568;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/*
.lilbox1:hover,
.lilbox2:hover,
.lilbox3:hover,
.lilbox4:hover,
.lilbox5:hover,
.lilbox6:hover,
.lilbox7:hover,
.lilbox8:hover,
.lilbox9:hover,
.lilbox10:hover,
.lilbox11:hover,
.lilbox12:hover,
.lilbox13:hover,
.stafflilbox:hover,
*/
.selector3:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.zguimg:hover {
  transform: scale(1.14);
  cursor: pointer;
}

.lilbox14:hover {
  transform: scale(1.05);
  background-color: rgb(9, 98, 186);
  cursor: pointer;
}
.lilbox15:hover {
  transform: scale(1.05);
  background-color: rgb(6, 165, 213);
  cursor: pointer;
}
.lilbox16:hover {
  transform: scale(1.05);
  background-color: rgb(213, 108, 3);
  cursor: pointer;
}
.lilbox17:hover {
  transform: scale(1.02);
}
.boxsection {
  display: flex;
  margin-top: 80px;
}

.imgsection {
  margin-top: 20px;
  gap: 30px;
  width: 100px;
  display: flex;
  align-items: center;
}

/*текст*/
p {
  font-family: "Play", sans-serif;
  font-size: 14px;
  color: #4a5568;
}

h1 {
  text-align: center;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #000000, #4b83ff);
  color: transparent;
  background-clip: text;
  font-family: "Days One", sans-serif;
  font-size: 50px;
  width: 100%;
}

h2 {
  color: #000000;
  font-family: "Days One";
  font-size: 18px;
  padding-bottom: 25px;
}

h3 {
  font-family: "Days One", sans-serif;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(137.59deg, #555 20%, #000 75%);
  text-wrap: balance;
  color: transparent;
  background-clip: text;
  font-size: 38px;
  padding: 40px 0 10px 0;
}
h4 {
  font-family: "Days One", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 14px;
}
h5 {
  font-family: "Days One", sans-serif;
  font-size: 14px;
}
h6 {
  font-family: "Play";
  font-size: 14px;
}

.titlesection {
  padding: 60px 30px 0 30px;
}

.zguimg {
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  width: 40px;
}
.nornikelimg {
  width: 60px;
  align-items: center;
  justify-content: center;
}
.zguimg2 {
  width: 50px;
  align-items: center;
  justify-content: center;
}
.itlogo {
  width: 40px;
  align-items: center;
  justify-content: center;
}
.vk {
  width: 40px;
  align-items: center;
  justify-content: center;
}
.tg {
  width: 40px;
  align-items: center;
  justify-content: center;
}

.ok {
  width: 25px;
  align-items: center;
  justify-content: center;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: "rostov";
  src: url("./fonts/Rostov.ttf");
}

@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@media screen and (max-width: 1410px) {
  .part {
    width: 60px;
  }
  .imgsetion {
    gap: 20px;
  }
  .lilbox1,
  .lilbox2,
  .lilbox3 {
    padding: 30px;
  }
  h2 {
    font-size: 16px;
    padding-bottom: 10px;
  }
  .boxsection {
    display: flex;
    margin-top: 60px;
  }
  p {
    font-size: 10px;
  }
  h6 {
    font-size: 12px;
  }
  .lilbox4 {
    padding: 20px 30px;
  }
  .norilskimg {
    width: 100%;
  }
  .titlesection {
    padding: 30px 30px 0 30px;
  }
  h1 {
    font-size: 40px;
  }

  .napravlenieinfo {
    padding: 20px 20px 40px 27px;
    color: #4a5568;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  h4 {
    font-size: 10px;
  }
  .titlenapravlenie {
    padding: 20px;
  }
  .lilbox17 {
    width: 100%;
    height: 360px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 2px solid #edf2f7;
    border-radius: 22px;
    background-color: white;
    padding: 10px;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .lilbox18 {
    padding: 20px 30px;
  }
  .top {
    padding: 0 0 0 80px;
  }
  .selector2,
  .selector3 {
    font-size: 10px;
  }
  .okafedre {
    padding: 0 50px 30px 50px;
  }
  .zguimg2 {
    width: 40px;
    align-items: center;
    justify-content: center;
  }
  .staffinf {
    padding: 3px 10px 3px 10px;
    width: max-content;

    border-radius: 6px;
    color: #4a5568;
    border: 1px solid #e8eef6;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background: #f7fafc;
    text-align: center;
  }
  .stafflilbox {
    cursor: grab;
    height: 390px;
    width: 250px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 2px solid #edf2f7;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .stafftext {
    font-size: 14px;
    padding: 10px 0 10px 10px;
  }
  .span {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 8px;
  }
}
@media screen and (max-width: 1300px) {
  .staffinf {
    padding: 3px 10px 3px 10px;
    width: max-content;

    border-radius: 6px;
    color: #4a5568;
    border: 1px solid #e8eef6;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background: #f7fafc;
    text-align: center;
  }
  .stafflilbox {
    cursor: grab;
    height: 390px;
    width: 230px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 2px solid #edf2f7;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .stafftext {
    font-size: 14px;
    padding: 10px 0 10px 10px;
  }
  .span {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 8px;
  }
}
@media screen and (max-width: 1220px) {
  .staffinf {
    padding: 3px 10px 3px 10px;
    width: max-content;

    border-radius: 6px;
    color: #4a5568;
    border: 1px solid #e8eef6;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background: #f7fafc;
    text-align: center;
  }
  .stafflilbox {
    cursor: grab;
    height: 340px;
    width: 200px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 2px solid #edf2f7;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .stafftext {
    font-size: 14px;
    padding: 10px 0 10px 10px;
  }
  .span {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 1120px) {
  .staffinf {
    padding: 3px 10px 3px 10px;
    width: max-content;

    border-radius: 6px;
    color: #4a5568;
    border: 1px solid #e8eef6;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background: #f7fafc;
    text-align: center;
  }
  .stafflilbox {
    cursor: grab;
    height: 320px;
    width: 180px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 2px solid #edf2f7;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .stafftext {
    font-size: 12px;
    padding: 10px 0 10px 10px;
  }
  .span {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 1040px) {
  body {
    background-color: hsl(var(--background));
    margin: 0 auto;
    padding: 70px 0 20px 0;
    display: flex;
    width: 100%;
  }
  .boxhome {
  }
  .lilbox1,
  .lilbox2 {
  }
  .top {
    padding: 0 0 0 30px;
  }
  .lilbox3 {
    width: 50%;
  }
  .lilbox4 {
    width: 50%;
  }
  .lilbox8 {
    padding: 20px;
    width: 50%;
  }
  .norilskimg {
    width: 10%;
  }
  .lilbox9 {
    width: 50%;
    padding: 20px;
  }
  .lilbox10 {
    width: 50%;
    padding: 20px;
  }
  .lilbox11 {
    height: 190px;
    width: 50%;
    margin-bottom: 0;
  }
  .lilbox12 {
    height: 190px;
    width: 50%;
  }
  .lilbox13 {
    height: 190px;
    width: 50%;
  }
  .footer {
    display: flex;

    justify-items: center;
    gap: 5px;
    flex-wrap: wrap;
  }
  .lilbox17 {
    width: 40%;
    height: 380px;
  }
  .lilbox18 {
    width: 50%;
  }
  .lilbox14 {
    width: 22%;
  }
  .lilbox15 {
    width: 22%;
  }
  .lilbox16 {
    width: 22%;
  }
  .napravlenia {
    padding: 10px 0;
  }
  .kafright {
    display: flex;
    justify-content: center;
  }

  .footerleft {
    gap: 5px;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footerright {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footerright2 {
    margin-top: 15px;
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    width: 70%;
    justify-content: center;
  }
  .titlesection {
    padding: 0;
  }
  .boxsection {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    justify-items: center;
    padding: 40px 40px 10px 40px;
  }
  .kaf1 {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .kaf2 {
    display: flex;

    justify-items: center;
    gap: 15px;
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .kafleft1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .kafleft2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .napravlenias {
    display: flex;
    flex-wrap: wrap;
  }
  .zguimg2 {
    width: 30px;
  }
  p {
    font-size: 10px;
  }
  .part {
    width: 50px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 16px;
    padding-bottom: 10px;
  }
  h3 {
    padding: 0 0 15px 0;
  }
  h4 {
  }
  h5 {
  }
  h6 {
    font-size: 12px;
  }
  .nornikelimg {
  }
}

@media screen and (max-width: 850px) {
  .boxhome {
    padding: 20px 0 40px 0;
  }
  .scheduleboxbox {
    margin-top: 0;
    border: 1px solid #edf2f7;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    justify-items: center;
    gap: 0;
    margin-bottom: 20px;
  }
  .stafimg {
    border-radius: 10px;
  }
  .grouptitle {
    color: #000000;
    font-family: "Days One";
    font-size: 10px;
    padding: 10px 0 0 0;
  }
  .titlenapravlenie1,
  .titlenapravlenie2,
  .titlenapravlenie3 {
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 12px;
    background-color: white;
    padding: 20px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .brand {
    font-family: "Stardock";
    color: #0c0c0c;
    height: 25px;
    margin: 3px 30px 0 0;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  body {
    background-color: hsl(var(--background));
    margin: 0 auto;
    padding: 70px 0 20px 0;
    display: flex;
    width: 100%;
  }
  .selector2,
  .selector3 {
    font-size: 8px;
  }
  .boxhome {
  }
  .stafflilbox {
    cursor: grab;
    height: 290px;
    width: 180px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #edf2f7;
    border-radius: 10px;
    background-color: white;
    padding: 0;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .stafftext {
    padding: 1px 0 10px 0;
    font-size: 6px;
    text-align: center;
  }
  .staffinf {
    padding: 3px 10px 3px 10px;
    width: 100%;
    border-radius: 4px;
    color: #4a5568;
    border: 1px solid #e8eef6;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background: #f7fafc;
    text-align: center;
  }

  .staffinf p {
    font-size: 6px;
  }
  .infboxstaff {
    padding: 0 10px 0 10px;
  }
  .boxsection {
    padding: 40px 60px 10px 60px;
  }
  .imgsection {
    gap: 30px;
  }
  .okafedre {
    padding: 0 30px 30px 30px;
  }
  .lilbox1,
  .lilbox2 {
    border-radius: 15px;
    border: 1px solid #edf2f7;
    padding: 20px 30px;
    width: 100%;
  }

  .lilbox3 {
    border-radius: 15px;
    border: 1px solid #edf2f7;
    padding: 20px 30px;
    width: 100%;
  }
  .lilbox4 {
    border-radius: 15px;
    border: 1px solid #edf2f7;
    padding: 20px 40px 20px 40px;
    width: 100%;
  }
  .lilbox8 {
    border-radius: 15px;
    border: 1px solid #edf2f7;
    padding: 20px;
    width: 100%;
  }
  .norilskimg {
    width: 10%;
  }
  .lilbox9 {
    border-radius: 15px;
    border: 1px solid #edf2f7;
    width: 100%;
    padding: 20px;
  }
  .lilbox10 {
    border-radius: 15px;
    border: 1px solid #edf2f7;
    width: 100%;
    padding: 20px;
  }
  .lilbox11 {
    padding: 20px 30px 20px 30px;
    height: 170px;
    width: 100%;
    margin-bottom: 0;
    border-radius: 15px;
  }
  .lilbox12 {
    padding: 20px 30px 20px 30px;
    height: 170px;
    width: 100%;
    border-radius: 15px;
  }
  .lilbox13 {
    height: 170px;
    width: 100%;
    padding: 20px 30px;
    border-radius: 15px;
  }
  .vk {
    width: 20px;
  }
  .tg {
    width: 20px;
  }
  .ok {
    width: 15px;
  }
  .staffcontainer {
    font-family: "Days One", sans-serif;
    padding: 10px 20px 100px 20px;
    gap: 15px;
  }
  .footertext {
    font-size: 8px;
  }
  .footer {
    display: flex;

    justify-items: center;
    gap: 5px;
    flex-wrap: wrap;
  }
  .lilbox17 {
    width: 100%;
    height: 380px;
    border: 1px solid #edf2f7;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
  }
  .lilbox18 {
    border-radius: 15px;
    border: 1px solid #edf2f7;
    padding: 20px 40px 20px 40px;
    width: 100%;
  }
  .lilbox14 {
    width: 100%;
    height: 85px;
  }
  .lilbox15 {
    width: 100%;
    height: 85px;
  }
  .lilbox16 {
    width: 100%;
    height: 85px;
  }
  .napravlenia {
    padding: 10px 0;
  }
  .napravlenias {
    padding: 0 50px 0 50px;
  }
  .kafright {
    display: flex;
    justify-content: center;
  }
  .footerbox {
    margin-top: 10px;
  }
  .footerleft {
    gap: 5px;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footerright {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footerright2 {
    margin-top: 15px;
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
  }
  .titlesection {
    padding: 0;
  }

  .kaf1 {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .kaf2 {
    display: flex;

    justify-items: center;
    gap: 15px;
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .kafleft1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .kafleft2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .napravlenias {
    display: flex;
    flex-wrap: wrap;
  }
  .zguimg2 {
    width: 30px;
  }
  p {
    font-size: 10px;
  }
  .part {
    width: 50px;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 16px;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 25px;
    padding: 0 0 20px 0;
  }
  h4 {
    font-size: 12px;
  }
  h5 {
  }
  h6 {
    font-size: 12px;
  }
  .lilbox20 {
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #edf2f7;
    border-radius: 15px;
    color: #4a5568;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .lilbox5 {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #edf2f7;
    border-radius: 15px;
    background-color: white;
    color: #4a5568;
    margin-bottom: 5px;
    padding: 20px 20px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .lilbox6 {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #edf2f7;
    border-radius: 15px;
    background-color: white;
    color: #4a5568;
    padding: 20px 20px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .lilbox7 {
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #edf2f7;
    border-radius: 15px;
    color: #4a5568;
    background-color: white;
    padding: 20px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .nauchnayadeyatelnost {
    padding: 20px 10px 40px 10px;
    display: flex;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    gap: 5px;

    flex-wrap: wrap;
  }

  .left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 5px;
  }
  .nornikelimg {
  }
  .up {
    display: flex;
    justify-items: center;
    gap: 5px;
    margin-bottom: 5px;
  }
  .bottom {
    display: grid;
    justify-items: center;
    gap: 5px;
  }
  .dostizhenia {
    padding: 30px 10px 30px 10px;
    justify-items: center;
    gap: 15px;
    padding-bottom: 50px;
  }
  .schedulebox {
    background-color: white;
    color: #4a5568;
    height: 100%;
    padding: 20px 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    justify-items: center;
    width: 100%;
    clip-path: inset(20px 0 round 20px);
  }
  .selector {
    color: #4a5568;
    width: 85px;
    font-family: "Play";
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #edf2f7;
    position: relative;
    outline: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    padding: 2px;
    border-radius: 5px;
    font-size: 8px;
  }
  .scheduleright {
    display: grid;
  }
  .kontakti {
    font-size: 9px;
  }
}
@media screen and (max-width: 650px) {
  .stafflilbox {
    height: 200px;
    width: 115px;
  }
}

@media screen and (max-width: 430px) {
  .schedulebox {
    background-color: white;
    color: #4a5568;
    height: 100%;
    padding: 20px 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    justify-items: center;
    width: 100%;
    clip-path: inset(20px 0 round 20px);
  }
  .scheduleboxbox {
    margin-top: 0;
    border: 1px solid #edf2f7;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    justify-items: center;
    gap: 0;
    margin-bottom: 20px;
  }
  .grouptitle {
    color: #000000;
    font-family: "Days One";
    font-size: 10px;
    padding: 10px 0 0 0;
  }
  .kontaktititle {
    font-size: 12px;
  }
  .dostizhenia {
    padding: 30px 10px 30px 10px;
    justify-items: center;
    gap: 15px;
    padding-bottom: 50px;
  }
  .lilbox7 {
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #edf2f7;
    border-radius: 15px;
    color: #4a5568;
    background-color: white;
    padding: 20px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .nauchnayadeyatelnost {
    padding: 20px 10px 40px 10px;
    display: flex;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    gap: 5px;

    flex-wrap: wrap;
  }
  .lilbox20 {
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #edf2f7;
    border-radius: 15px;
    color: #4a5568;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .lilbox5 {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #edf2f7;
    border-radius: 15px;
    background-color: white;
    color: #4a5568;
    padding: 20px 20px;
    margin-bottom: 5px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .lilbox6 {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #edf2f7;
    border-radius: 15px;
    background-color: white;
    color: #4a5568;
    padding: 20px 20px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .lilbox11,
  .lilbox12 {
    height: 150px;
    font-size: 12px;
    border-radius: 15px;
  }
  .lilbox13 {
    height: 150px;
    border-radius: 15px;
  }
  .lilbox17 {
    border: 1px solid #edf2f7;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
  }
  .titlenapravlenie1,
  .titlenapravlenie2,
  .titlenapravlenie3 {
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 12px;
    background-color: white;
    padding: 20px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .imgsection {
    gap: 20px;
  }
  .selector2,
  .selector3 {
    font-size: 8px;
  }
  .zguimg {
    width: 30px;
    margin-top: 7px;
  }
  h3 {
    font-size: 22px;
    padding: 20px 0 20px 0;
  }
  .ssilka {
    font-size: 8px;
  }
  .stafftext {
    padding: 1px 0 10px 0;
    font-size: 7px;
    text-align: center;
  }

  .staffinf {
    border-radius: 4px;
  }
  .staffinf p {
    font-size: 6px;
  }
  .left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 5px;
  }
  .stafflilbox {
    cursor: grab;
    height: 195px;
    width: 100px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #edf2f7;
    border-radius: 10px;
    background-color: white;
    padding: 0;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .up {
    display: flex;
    justify-items: center;
    gap: 5px;
    margin-bottom: 5px;
  }
  .bottom {
    display: grid;
    justify-items: center;
    gap: 5px;
  }
  .selector {
    color: #4a5568;
    width: 85px;
    font-family: "Play";
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #edf2f7;
    position: relative;
    outline: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    padding: 2px;
    border-radius: 5px;
    font-size: 8px;
  }
  .scheduleright {
    display: grid;
  }
  .kontakti {
    font-size: 8px;
  }
}

@media screen and (max-width: 380px) {
  .imgsection {
    gap: 5px;
  }
  .scheduleboxbox {
    margin-top: 0;
    border: 1px solid #edf2f7;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    justify-items: center;
    gap: 0;
    margin-bottom: 20px;
  }
  .grouptitle {
    color: #000000;
    font-family: "Days One";
    font-size: 10px;
    padding: 10px 0 0 0;
  }
  .scheduleright {
    display: grid;
  }
  .selector {
    color: #4a5568;
    width: 85px;
    font-family: "Play";
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #edf2f7;
    position: relative;
    outline: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    padding: 2px;
    border-radius: 5px;
    font-size: 8px;
  }
  .schedulebox {
    background-color: white;
    color: #4a5568;
    height: 100%;
    padding: 20px 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    justify-items: center;
    width: 100%;
    clip-path: inset(20px 0 round 20px);
  }
  .dostizhenia {
    padding: 30px 10px 30px 10px;
    justify-items: center;
    gap: 15px;
    padding-bottom: 50px;
  }
  .lilbox7 {
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #edf2f7;
    border-radius: 15px;
    color: #4a5568;
    background-color: white;
    padding: 20px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .up {
    display: flex;
    justify-items: center;
    gap: 5px;
    margin-bottom: 5px;
  }
  .bottom {
    display: grid;
    justify-items: center;
    gap: 5px;
  }
  .nauchnayadeyatelnost {
    padding: 20px 10px 40px 10px;
    display: flex;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    gap: 5px;

    flex-wrap: wrap;
  }
  .lilbox20 {
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #edf2f7;
    border-radius: 15px;
    color: #4a5568;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .lilbox5 {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #edf2f7;
    border-radius: 15px;
    background-color: white;
    color: #4a5568;
    padding: 20px 20px;
    transition-duration: 200ms;
    margin-bottom: 5px;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 5px;
  }
  .lilbox6 {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #edf2f7;
    border-radius: 15px;
    background-color: white;
    color: #4a5568;
    padding: 20px 20px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .titlenapravlenie1,
  .titlenapravlenie2,
  .titlenapravlenie3 {
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 12px;
    background-color: white;
    padding: 20px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .ssilka {
    font-size: 6px;
  }
  .part {
    width: 45px;
  }
  .ssilki {
    gap: 5px;
  }

  .footerright2 {
    margin-top: 5px;
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
  }
  h2 {
    font-size: 12px;
  }
  h6 {
    font-size: 10px;
  }
  h3 {
    font-size: 22px;
    padding: 20px 0 20px 0;
  }
  .footertext {
    font-size: 5px;
  }
  .stafflilbox {
    cursor: grab;
    height: 170px;
    width: 85px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #edf2f7;
    border-radius: 10px;
    background-color: white;
    padding: 0;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .zguimg {
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    width: 30px;
    margin-top: 7px;
  }
  .container {
    padding: 0 20px 0 20px;
  }
  .lilbox14,
  .lilbox15,
  .lilbox16 {
    padding: 20px;
    width: 100%;
    height: 60px;
    border-radius: 14px;
  }
  .vk {
    width: 20px;
  }
  .tg {
    width: 20px;
  }
  .ok {
    width: 15px;
  }
  h4 {
    font-size: 11px;
  }
  .numbox {
    border-radius: 5px;
  }
  .numbox p {
    font-size: 8px;
  }
  .napravlenieinfo .span {
    font-size: 12px;
    padding-bottom: 0;
  }
  .brand {
    font-family: "Stardock";
    color: #0c0c0c;
    height: 25px;
    margin: 3px 30px 0 0;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  .kontaktititle {
    font-size: 12px;
  }
  .lilbox11,
  .lilbox12 {
    height: 150px;
    font-size: 12px;
    border-radius: 15px;
  }
  .lilbox13 {
    height: 150px;
    border-radius: 15px;
  }
  .kontakti {
    font-size: 7px;
  }
  .selector2,
  .selector3 {
    font-size: 7px;
  }
  .lilbox17 {
    height: 370px;
    border: 1px solid #edf2f7;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
  }
  .top {
    top: 30px;
    padding: 0 0 0 30px;
    position: fixed;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: space-between;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    z-index: 100;
  }
  .staffinf p {
    font-size: 6px;
  }
  .staffinf {
    border-radius: 4px;
  }
  .stafftext {
    font-size: 6px;
  }
  .span {
    font-size: 10px;
  }
}
